html
    head
        include head
    body
        .wrapper
            .inner
                .image-holder
                    img(src='aset/images/gambarr.jpg', alt='')
                form(action='')
                    h3 Sign In
                    .form-holder.active
                        input.form-control(type='text', placeholder='email')
                    .form-holder
                        input.form-control(type='password', placeholder='Password')
                    .form-login
                        button Sign In
        script(src='aset/js/jquery-3.3.1.min.js')
        script(src='aset/js/main.js')
